.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer{
  background-color: #000;
}

.logoHeading1{
  font-family:'Play';
  font-size:18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.03200000151991844px;
  text-align: left;
  color: #fff;
  align-self:center;
  }
  
  .logo1{
      width:24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  
  }
  
  .logo-con{
 
  
  
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  }

  .app-ul{
    list-style-type: none;
    padding-left: 0;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    width:250px;

  }

  .tel-butt{
    background-color:#0C2B2FB2;
    color: #fff;
    border: none;
    width:40px;
    height: 40px;
    border-radius:50%;
  }

  .insta-butt{
    background-color:#0C2B2FB2;
    color: #fff;
    border: none;
    width:40px;
    height: 40px;
    border-radius:30%;
  }

  .im-x{
    width:20px;
  }

  .foot-para{
    font-family: 'Space Grotesk';
    color: #fff;
    font-weight: 600;
    font-size:25px;
  }

  .inp-sty{
    outline:none;
    border: none;
    background-color:transparent;
  }

  .inp-sty::placeholder{
    color: #fff;
    font-size:13px;
  }

  .dapp1{
    border:1px solid #8BF9E833;
    background-color:#8BF9E833;
    color: #ffffff;
    font-size:13px;
    font-weight: 400;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    align-self:center;
  }

  .inp-butt-con{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    border:1.5px solid rgb(54, 54, 54);
    border-radius:12px;
    padding:2px;
   width:500px;
  }

  .footer-main-con{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:flex-start;
  }